@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
}

body {
    --tw-bg-opacity: 1;
    background: rgb(245, 245, 245);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* @media (prefers-color-scheme: dark) {
    body {
        background: #000000;
    }
}
@media (prefers-color-scheme: light) {
    body {
        background: #ffffff;
    }
} */

@layer base {
    @font-face {
        font-family: "MonumentExtended";
        src: url(/static/fonts/monument_extended/PPMonumentExtended-Regular.otf) format(woff);
    }

    @font-face {
        font-family: "MonumentExtended";
        font-weight: 800;
        src: url(/static/fonts/monument_extended/PPMonumentExtended-Black.otf) format(woff);
    }
}

@keyframes shimmer-slide {
    to {
        transform: translate(calc(100cqw - 100%), 0);
    }
}

@keyframes spin-around {
    0% {
        transform: translateZ(0) rotate(0);
    }
    15%, 35% {
        transform: translateZ(0) rotate(90deg);
    }
    65%, 85% {
        transform: translateZ(0) rotate(270deg);
    }
    100% {
        transform: translateZ(0) rotate(360deg);
    }
}

@layer utilities {
    .animate-shimmer-slide {
        animation: shimmer-slide var(--speed, 3s) ease-in-out infinite alternate;
    }
    
    .animate-spin-around {
        animation: spin-around calc(var(--speed, 3s) * 2) infinite linear;
    }
}